@model BIED_research_suite.Models.ViewModels.ResearchCreationViewModel

@{
    ViewData["Title"] = "Start een nieuw onderzoek";
}

    <h1>Start een nieuw onderzoek</h1>

<h4>Onderzoeks details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.newResearch.Title" class="control-label"></label>
                <input asp-for="@Model.newResearch.Title" class="form-control" />
                <span asp-validation-for="@Model.newResearch.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.newResearch.StartingDateTime" class="control-label">Start datum en tijd</label>
                <input asp-for="@Model.newResearch.StartingDateTime" class="form-control" />
                <span asp-validation-for="@Model.newResearch.StartingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.newResearch.EndingDateTime" class="control-label">Eind datum en tijd</label>
                <input asp-for="@Model.newResearch.EndingDateTime" class="form-control" />
                <span asp-validation-for="@Model.newResearch.EndingDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.newResearch.PrincipalInvestigator" class="control-label">Hoofdonderzoeker</label>
                <select asp-for="@Model.newResearch.PrincipalInvestigator" class="form-control" asp-items="@(new SelectList(@Model.researchers,"Id","UserName"))"></select>
                <span class="field__validation-message" asp-validation-for="@Model.newResearch.PrincipalInvestigator"></span>
            </div>
            <div class="form-group">
                Aanvullende details dienen ingevuld te worden na het aanmaken van het initieële onderzoek.
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
