@model BIED_research_suite.Models.Database_entities.Research

@{
    ViewData["Title"] = "Onderzoek verwijderen";
}

    <h1>Onderzoek verwijderen</h1>

<h3>Weet u zeker dat u dit onderzoek wilt verwijderen?</h3>
<div>
    <h4>Research</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndingDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ResearchID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar de lijst</a>
    </form>
</div>
