@model BIED_research_suite.Models.Database_entities.Research

@{
    ViewData["Title"] = "Onderzoek details";
}

    <h1>Onderzoek details</h1>

<div>
    <h4>Onderzoek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndingDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResearchID">Aanpassen</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
