@model BIED_research_suite.Models.Database_entities.Research

@{
    ViewData["Title"] = "Onderzoek details";
}

    <h1>Onderzoek details</h1>

<div>
    <h4>Onderzoek</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Titel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            Start datum en tijd
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartingDateTime)
        </dd>
        <dt class="col-sm-2">
            Eind datum en tijd
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndingDateTime)
        </dd>
        <dt class="col-sm-2">
            Hoofd onderzoeker
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrincipalInvestigator)
        </dd>
        <dt class="col-sm-2">
            Alle onderzoekers
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllInvestigators)
        </dd>
        <dt class="col-sm-2">
            Onderzoek fases
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResearchPhases)
        </dd>
        <dt class="col-sm-2">
            Deelnemers
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Participants)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResearchID">Aanpassen</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
