@model IEnumerable<BIED_research_suite.Models.Database_entities.Research>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nieuw onderzoek</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndingDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndingDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResearchID">Aanpassen</a> |
                <a asp-action="Details" asp-route-id="@item.ResearchID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResearchID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
