@model BIED_research_suite.Models.Database_entities.Questionnaire

@{
    ViewData["Title"] = "Vragenlijst details";
}

<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Intro tekst
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntroText)
        </dd>
    </dl>
    @foreach (var section in Model.QuestionnaireSections)
    {
        <h5>Sectie @Html.DisplayFor(model => section.QuestionnaireSectionID)</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Titel
            </dt>
            <dt class="col-sm-10">
                Intro tekst
            </dt>
        </dl>
        <dl class="row">
            <dd class="col-sm-2">
                @Html.DisplayFor(model => section.Title)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => section.IntroText)
            </dd>
        </dl>
        <h5>Items</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-10">
                Item tekst
            </dt>
            <dt class="col-sm-2">
                Item type
            </dt>
        </dl>
        @foreach (var item in section.QuestionnaireItems)
        {
            <dl class="row">
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.ItemText)
                </dd>
                <dd class="col-sm-2">
                    @Html.DisplayFor(model => item.ItemType)
                </dd>
            </dl>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionnaireID">Aanpassen</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
