@model IEnumerable<BIED_research_suite.Models.Database_entities.Questionnaire>

@{
    ViewData["Title"] = "Vragenlijsten overzicht";
}

<h1>Vragenlijsten overzicht</h1>

<p>
    <a asp-action="Create">Nieuwe vragenlijst aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.QuestionnaireID">Bekijken</a> |
                <a asp-action="Edit" asp-route-id="@item.QuestionnaireID">Aanpassen</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionnaireID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
